*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-image: url(/img/background_image.jpg);
}

div.container{
    display: flex;
    margin: 2rem;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    flex-direction: column;
}

div.container .header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    color: white;
}

#title{
    font-size: 2.5rem;
    font-weight: 900;
}

#title::first-letter{
    font-size: 3rem;
}

span{
    display: inline-block;
    color: red;
}

#title span:first-letter {
    font-size: 1.2em;
}

#description{
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: white;
}

.form-div{
    display: flex;
    width: 25vw;
    background-color: rgba(0, 0, 0,0.9);
}

#survey-form{
    flex: 1;
    width: 100vw;
    flex-direction: column;
}

.name-box{
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    color: white;
}

.input-name{
    padding-bottom: 10px;
}

.name-box input{
    padding: 10px;
    font-size: 0.9rem;
}

.age-box{
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    color: white;
}

.input-age-text{
    padding-bottom: 10px;
}

.age-box input{
    padding: 10px;
    font-size: 0.9rem;
}

.email-box{
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    color: white;
}

.input-email-text{
    padding-bottom: 10px;
}

.email-box input{
    padding: 10px;
    font-size: 0.9rem;
}

#dropdownlist-field-text{
    color: white;
}
.chechkbox-field{
    color: white;
}

.dropdownlist-field{
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 10px;
    margin: auto;
    /* margin-top: 5px; */
    color: white;
}

#dropdownlist-field{
    display: flex;
    padding: 10px;
    width: 90%;
}

#dropdownlist-field-text{
    padding-bottom: 10px;
}

.chechkbox-field{    
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 10px;
    margin: auto;
    margin-top: 5px;
    color: white;
}

.radio-field{
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 10px;
    margin: auto;
    color: white;
}

.textarea-field{
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 10px;
    margin: auto;
    color: white;
}

#textarea-field-id{
    padding: 10px;
    width: 85%;
    height: 100px;
}

.button-field{
    display: flex;
    justify-content: center;
}

#sumitBtn{
    color: white;
    background-color: red;
    border: 2px solid red;
    padding: 10px 40px 10px 40px;
    border-radius: 20px;
    margin-bottom: 10px;
}

#feedback-text{
    margin-bottom: 10px;
}
